<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="MineMind"
        android:icon="@mipmap/ic_launcher_grid"
        android:roundIcon="@mipmap/ic_launcher_grid_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MineMind">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
